<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deployment</title>

    <style>
        p{
            color: purple;
            font: outline;
            transition-delay: 2s;
        }

        h1{
            color:rgb(70, 12, 6);
            transition-delay: 1s;
        }
 
    </style>
 </head>
 <body>
    <h1>Deployment Studies</h1>

    <p> Berry is fine. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        At doloribus magnam quia maxime quasi sequi,
        voluptate aperiam totam a! Nostrum molestias illum dignissimos similique 
        deserunt delectus ratione consectetur molestiae veritatis.

    </p>
</body>
</html>